body {
  background-color: #f5efe6;
  font-family: 'Montserrat', sans-serif;
}

form span {
  text-align: left;
  display: block;
}

.button-main {
  border: 1px solid #339961;
  padding: 7px;
  width: 100px;
  display: block;
  font-weight: bold;
  border-radius: 7%;
  cursor: pointer;
  background: #3cb371;
  color: white;
  box-shadow: 4px 4px #339961
}

.nav-list-button {
  float: left;
  font-size: 12;
  padding: 20px 10px;;
  width: 130px;
  margin: 10px;
}
