body {
  background-color: #f5efe6;
  font-family: 'Arimo', sans-serif;
}



.button-main {
  border: 1px solid #339961;
  padding: 7px;
  width: 100px;
  display: block;
  font-weight: bold;
  cursor: pointer;
  background: #3cb371;
  color: white;
  box-shadow: 4px 4px #339961;
}

.button-main:active {
  border: 2px solid #336600;
}


.nav-list-button {
  float: left;
  font-size: 12;
  padding: 20px 10px;;
  width: 130px;
  margin: 10px;
}
