$theme-color-main: rgb(16, 79, 48);
$theme-color-secondary: rgb(207, 235, 221);

body {
  font-family: 'Josefin Sans', sans-serif;
  background: rgba(1, 44, 22, 0.2);
}

.button-main {
  color: rgb(207, 235, 221);
  padding: 10px 5px;
  margin: 5px 5px;
  width: 85px;
  border-radius: 5px;
  float: left;
  height: 35px;
  background: rgb(16, 79, 48);
  text-align: center;
  cursor: pointer;
}

.button-main:active {
  background: #339961;
}

#root {
  height: inherit;
}
