.feature-wrapper {
  position: relative;
  box-shadow: 4px 4px gray;
  max-width: 1000px;
  min-height: 500px;
  margin: 20px;
  background-color: white;
  padding: 50px;
}

.feature-wrapper > div > h2 {
  margin: auto;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.project-container {
  padding: 30px;
}

.feature-add-button {
  color: white;
  font-size: 16px;
  background: #3cb371;
  font-weight: bold;
  display: block;
  margin: auto;
  width: 140px;
  height: 50px;
  cursor: pointer;
}
