.feature-wrapper {
  position: relative;
  border: 1px solid black;
  max-width: 800px;
  min-height: 500px;
  border-radius: 2%;
  margin: 20px auto;
  background-color: white;
  padding: 50px;
}

.feature-wrapper > div > h2 {
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.project-container {
  padding: 30px;
}

.feature-add-button {
  color: white;
  font-size: 16px;
  background: #3cb371;
  font-weight: bold;
  display: block;
  margin: auto;
  width: 140px;
  height: 50px;
  border-radius: 5%;
  cursor: pointer;
}
