.feature-wrapper {
  min-height: 500px;
  margin: 10px;
  background-color: white;
  padding: 50px;
  text-align: center;
  border: 1px solid rgb(16, 79, 48);
  border-radius: 5px;
}

.feature-wrapper > div > h2 {
  display: block;
  height: 5%;
  margin: auto;
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: 20px;
  padding: 10px;
  color: rgb(16, 79, 48);
  border-bottom: 1px solid rgb(16, 79, 48);
}


.feature-add-button {
  font-size: 16px;
  font-weight: bold;

  margin: auto;
  width: 140px;
  height: 50px;
  cursor: pointer;
  color: rgb(207, 235, 221);
  padding: 10px 5px;
  border-radius: 5px;
  background: rgb(16, 79, 48);
  text-align: center;
}

.feature-add-button:active {
  background: #339961;
}
