// Place all the styles related to the api::messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-list {
  display: block;
  text-align: left;
}

.reply-button {
  cursor: pointer;
  margin-left: 100px;
  padding: 5px;
  margin: 5px;
  color: white;
  float: left;
  display:block;
}

.message-reply {
  margin-left: 80px;
  display: block;
  text-align: left;
}

.parent-button {
  background: #fee5dd;
  color: #ff7043;
}

.child-button {
  background: #dceefc;
  color: #2196f3;
}

.message-reply-place-holder {
  position: absolute;
  top: 180px;
  right: 40px;
}

.message-title-button {
  display: block;

}

.message-title {
  display: block;
  padding: 10px;
}

.message-text {
  padding: 10px;
}

.message-text-form span{
  overflow-wrap: break-word;
  display:block;
  padding: 5px;
}
