// Place all the styles related to the api::messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.message-list {
  display: block;
  text-align: left;
}

.reply-button {
  margin-left: 100px;
  padding: 5px;
  margin: 5px;
  border-radius: 7%;
  color: white;
}

.message-reply {
  margin-left: 80px;
  display: block;
  text-align: left;
}

.parent-button {
  background: #000099;
}

.child-button {
  background: #cc0000;
}

.message-reply-place-holder {
  position: absolute;
  top: 180px;
  right: 40px;
}
