.nav-list {
  top: 100px;
  position: fixed;
  z-index: 1000;
  width: 100px;
  height: 100vh;
}

.nav-list-wrapper {
  float: left;
  width: 100px;
  height: 100vh;

}

.nav-list-button:active {
  background: #339961;
}

.nav-list > li {
  font-size: 16px;
  margin: auto;
  width: 80px;
  height: 25px;
  cursor: pointer;
  color: rgb(207, 235, 221);
  padding: 20px 5px;
  border-radius: 5px;
  background: rgb(16, 79, 48);
  text-align: center;
  margin: 10px 10px;

}

.nav-list > li:first-child {
  border-top: 3px solid grey;
}
