.nav-list {
  top: 100px;
  position: fixed;
  z-index: 1000;
  width: 100px;
  height: 100vh;
}

.nav-list-wrapper {
  float: left;
  width: 100px;
  height: 100vh;

}

.nav-list-button:active {
  background: #339961;
}

.nav-list > li {
  text-align: center;
  display: block;
  height: 40px;
  width: 97px;
  padding: 15px 0px;
  cursor: pointer;
  line-height: 35px;
  color: white;
  background: #3cb371;
  border-bottom: 3px solid grey;
  border-right: 3px solid grey;
  border-left: 3px solid grey;
}

.nav-list > li:first-child {
  border-top: 3px solid grey;
}
