.project-container{
  text-align: center;
  min-height: 500px;
  width: 85%;
  float: left;
}

.projects-button {
  float: right;
}

.project-title {
  font-size: 30px;
  float: left;
  font-weight: bolder;
  text-align: center;
  display: block;
  color: rgb(16, 79, 48);
  line-height: 60px;
}

.project-nav-top {
  height: 60px;
  padding: 20px 50px 0 50px;
}

.project-list-wrapper > h2 {
  display: block;
  text-align: left;
  font-size: 24px;
  color: #8d6e63;
  min-width: 25%;
}

.project-list-item {
  display: block;
  text-align: left;
  font-size: 18px;
  margin: 30px;
  color: rgb(16, 79, 48);
}


.project-list-item > div {
  cursor: pointer;
  min-height: 20px;
  padding: 20px 10px;
}

.project-list-item-text {
  background: rgb(230, 136, 30);
  border-radius: 5px;
  float:left;
  width: 55%;
}


.project-list-item-edit {
  margin: auto;
  width: 20%;
  cursor: pointer;
  color: rgb(207, 235, 221);
  border-radius: 5px;
  background: rgb(16, 79, 48);
  text-align: center;
  float: right;
}

.sign-out-button {
  background: rgb(230, 136, 30);
  float: right;
  margin-left: 10px;
}
