.projectMembership-list-wrapper > h2 {
  display: block;
  text-align: left;
  font-size: 24px;
  color: #8d6e63;
  width: 21%;
}

.projectMembership-list-item {
  display: block;
  height: 80px;
  text-align: left;
  height: 100px;
  font-size: 20px;
  margin: 30px;
}


.projectMembership-list-item > div {
  cursor: pointer;
  padding: 20px;
  height: 40px;
}

.projectMembership-list-item-text {
  background: rgb(230, 136, 30);
  border-radius: 5px;
  float:left;
  width: 55%;
  color: rgb(16, 79, 48);
}


.projectMembership-list-item-edit {
  margin: auto;
  width: 20%;
  cursor: pointer;
  color: rgb(207, 235, 221);
  border-radius: 5px;
  background: rgb(16, 79, 48);
  text-align: center;
  float: right;
}
