.project-wrapper {

}

.project-list-item {
  display: block;
  height: 80px;
  text-align: left;
  height: 100px;
  font-size: 20px;
  margin: 30px;
}


.project-list-item > div {
  cursor: pointer;
  padding: 20px;
  height: 40px;
}

.project-list-item-text {
  background: #feefd8;
  color: #ff9800;
  float:left;
  width: 55%;
}


.project-list-item-edit {
  background: #3cb371;
  color: white;
  float:right;
  text-align: center;
  width: 15%;
}
