.session-form {
  width: 500px;
  margin: auto;
  padding: 50px;
  background: white;
  border-radius: 10%;
}

.session-buttons-wrapper {
  width: 420px;
  margin-top: 45px;
  margin: auto;
  text-align: center;
}

.session-buttons-wrapper > input{
  margin: 20px 10px ;
  float: left;
}

.session-form input {
  box-shadow: 4px 4px #339961;
  border: 1px solid #339961;
  padding: 10px;
}

.session-form span {
  padding: 5px;
}

.session-form h1 {
  margin: auto;
  display: block;
  font-size: 34px;
  font-weight: bolder;
  color: #339961;
  text-align: center;
}

.sign-out-button {
  float: right;
  position: absolute;
  right: 50px;
  padding: 20px;
  border: 1px solid #ff9933;
  background: #ff9933;
  box-shadow: 4px 4px #ff6600;
}
