.session-wrapper {
  background: #339961
}

.session-form {
  width: 450px;
  margin: auto;
  padding: 40px;
  background: white;
}

.session-form label {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  color: #339961;
}

.session-color-block {
  padding: 20px;
  height: 120px;
  background: #f5efe6;
}

.session-color-block > h1 {
  text-align: center;
  color:black;
  font-size: 90px;
  font-weight: bold;
  color: #07992c;
}

.session-buttons-wrapper {
  width: 100%;
  margin-top: 45px;
  margin: auto;
  text-align: center;
}

.session-buttons-wrapper > input{
  width: 80px;
  margin: 20px 5px ;
  float: left;
}

.session-text{
  box-shadow: 4px 4px #339961;
  border: 1px solid #339961;
  padding: 10px;
  display: block;
  margin: auto;
  width: 100%;
}

.session-form h2 {
  margin: auto;
  display: block;
  font-size: 34px;
  font-weight: bolder;
  color: #339961;
  text-align: center;
}
