.todo-link {
  color: blue;
  display: block;
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
  font-size: 28px;
  padding: 10px;
  width: 70%;
}

.todo-completed-count {
  border-radius: 50%;
  border: 1px solid gray;
  float: right;
  padding: 5px;
}

.todo-list-item {
  display: block;
  text-align: left;
  padding: 5px;
  margin-left: 20px;
}

.todo-list-link {
  display: inline;
  font-size: 18px;
  margin-left: 10px;
}
