.todo-link {
  color: blue;
  text-decoration: underline;
  display: block;
  text-align: left;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}

.todo-completed-count {
  border-radius: 50%;
  border: 1px solid gray;
  display: inline;
  padding: 8px;
  right: 0px;
  text-align: right;
  float: right;
  position: absolute;
  bottom: 3px;
  text-decoration: none;
}

.todo-create-link {
  padding: 5px;
  background-color: white;
  border: 1px solid gray;
  display: block;
  width: 100px;
  margin-left: 10px;
  border-radius: 5%;

}

.todo-list-item {
  text-align: left;
  margin: 6px;
  margin-left: 20px;
}
