img {
  width: 100%;
}

.upload-preview {
  margin:auto;
  min-height: 150px;
  padding: 5px;
  resize: none;
  width: 240px;
  text-align: left;
  border: 1px solid gray;
}

.upload-list-item {
  position: relative;
  display: block;
  float: left;
  width: 160px;
  border: 1px solid #339961;
  margin: 5px;
}

.upload-list-item > a > div {
  display: block;
  height: 25px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.upload-file-wrapper {
  width: 600px;
}

.upload-preview-embed {
  width: 100%;
  height: 100%;
}

.upload-preview-button-form {
  margin: 0 20px 0 0;
  font-size: 12px;
  width: 100%;
}
